<aside
  class="w-56 h-[calc(100vh-3.5rem)]
         bg-slate-800 text-slate-200
         border-r border-slate-700
         flex flex-col"
>

  <div class="px-4 py-3 text-xs font-semibold uppercase tracking-wide text-slate-400">
    Components
  </div>

  <nav class="flex-1 px-2 space-y-1">

<button
  (click)="toggle('BEAMS')"
  class="w-full flex items-center gap-3 px-3 py-2 rounded-md
         hover:bg-slate-700 transition-colors text-left"
>
  <span class="text-lg">🟨</span>
  <span class="text-sm font-medium">Beams</span>
</button>

@if (openSection === 'BEAMS') {
  <div class="ml-6 mt-2 space-y-2">

    @for (item of catalog.BEAMS; track item) {
      <div
        draggable="true"
        (dragstart)="onDragStart($event, item)"
        class="p-2 bg-slate-700 rounded cursor-grab"
      >
        <img [src]="item.preview" class="w-full pointer-events-none" />
        <div class="text-xs text-center mt-1">{{ item.label }}</div>
      </div>
    }

  </div>
}
<!-- SLINGS -->
<button
  (click)="toggle('SLINGS')"
  class="w-full flex items-center gap-3 px-3 py-2 rounded-md
          hover:bg-slate-700 transition-colors text-left"
>
  <span class="text-lg">🪢</span>
  <span class="text-sm font-medium">Slings</span>
</button>

<!-- Subpanel Slings-->
@if (openSection === 'SLINGS') {
  <div class="ml-6 mt-2 space-y-2">

    @for (item of catalog.SLINGS; track item) {
      <div
        draggable="true"
        (dragstart)="onDragStart($event, item)"
        class="p-2 bg-slate-700 rounded cursor-grab"
      >
        <img [src]="item.preview" class="w-full pointer-events-none" />
        <div class="text-xs text-center mt-1">
          {{ item.label }}
        </div>
      </div>
    }

  </div>
}
<!-- CHAINS -->
    <button
    (click)="toggle('CHAINS')"
      class="w-full flex items-center gap-3 px-3 py-2 rounded-md
             hover:bg-slate-700 transition-colors text-left"
    >
      <span class="text-lg">⛓️</span>
      <span class="text-sm font-medium">Chains</span>
    </button>

    <!-- Subpanel Chain-->
@if (openSection === 'CHAINS') {
  <div class="ml-6 mt-2 space-y-2">

    @for (item of catalog.CHAINS; track item) {
      <div
        draggable="true"
        (dragstart)="onDragStart($event, item)"
        class="p-2 bg-slate-700 rounded cursor-grab"
      >
        <img [src]="item.preview" class="w-full pointer-events-none" />
        <div class="text-xs text-center mt-1">
          {{ item.label }}
        </div>
      </div>
    }

  </div>
}

<!-- SHACKLES -->
<div class="relative">

  <button
    (click)="toggle('SHACKLES')"
    class="w-full flex items-center justify-between px-3 py-2 rounded-md
           hover:bg-slate-700 transition-colors text-left"
  >

    <div class="flex items-center gap-3">
      <span class="text-lg">🔗</span>
      <span class="text-sm font-medium">Shackles</span>
    </div>

<!-- BOTÓN + SOLO ADMIN -->
@if (authService.isAdmin()) {
  <button
    (click)="openShackleForm(); $event.stopPropagation()"
    class="bg-yellow-400 text-black text-xs font-bold
           w-6 h-6 rounded-full flex items-center justify-center
           hover:bg-yellow-300 transition"
  >
    +
  </button>
}

  </button>

</div>

<!-- Subpanel Shackles-->
@if (openSection === 'SHACKLES') {
  <div class="ml-6 mt-2 space-y-2">

    @for (item of catalog.SHACKLES; track item) {
      <div
        draggable="true"
        (dragstart)="onDragStart($event, item)"
        class="p-2 bg-slate-700 rounded cursor-grab"
      >
        <img [src]="item.preview" class="w-full pointer-events-none" />
        <div class="text-xs text-center mt-1">
          {{ item.label }}
        </div>
      </div>
    }

  </div>
}

<!-- HOOKS -->
    <button
      (click)="toggle('HOOKS')"
      class="w-full flex items-center gap-3 px-3 py-2 rounded-md
             hover:bg-slate-700 transition-colors text-left"
    >
      <span class="text-lg">🪝</span>
      <span class="text-sm font-medium">Hooks</span>
    </button>
<!-- Subpanel Hooks-->
@if (openSection === 'HOOKS') {
  <div class="ml-6 mt-2 space-y-2">

    @for (item of catalog.HOOKS; track item) {
      <div
        draggable="true"
        (dragstart)="onDragStart($event, item)"
        class="p-2 bg-slate-700 rounded cursor-grab"
      >
        <img [src]="item.preview" class="w-full pointer-events-none" />
        <div class="text-xs text-center mt-1">
          {{ item.label }}
        </div>
      </div>
    }

  </div>
}

<!-- CONNECTORS -->
    <button
      (click)="toggle('CONNECTORS')"
      class="w-full flex items-center gap-3 px-3 py-2 rounded-md
             hover:bg-slate-700 transition-colors text-left"
    >
      <span class="text-lg">🔩</span>
      <span class="text-sm font-medium">Connectors</span>
    </button>

<!-- Subpanel Hooks-->
@if (openSection === 'CONNECTORS') {
  <div class="ml-6 mt-2 space-y-2">

    @for (item of catalog.CONNECTORS; track item) {
      <div
        draggable="true"
        (dragstart)="onDragStart($event, item)"
        class="p-2 bg-slate-700 rounded cursor-grab"
      >
        <img [src]="item.preview" class="w-full pointer-events-none" />
        <div class="text-xs text-center mt-1">
          {{ item.label }}
        </div>
      </div>
    }

  </div>
}
    
  </nav>
  
</aside>
